
.jumbotron{
    background-color: #3333AA;
    color: #000000;
    margin-bottom: 0;
    
}
.navbar{
    margin-bottom: 0;
    border-radius: 0;
}

.panel > .panel-heading{
    background-color: #333333;
    color: white;
}
.panel{
    background-color: #bbbbbb;
}
.body{
    background-color: #dddddd;
}
#page{
    background-color: #4444BB
}